@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fullcalendar.css';

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 95.5%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    /* --primary: 222.2 47.4% 11.2%; */
    --primary: 198 22% 26%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --gradient: linear-gradient(to top left, #334d50, #cbcaa5);

    --background: 198 70.3% 4.08%;
    --foreground: 198 2.2% 96.3%;

    --muted: 198 11% 7.800000000000001%;
    --muted-foreground: 198 2.2% 52.6%;

    --popover: 198 60.6% 3.38%;
    --popover-foreground: 198 2.2% 96.3%;

    --card: 198 60.6% 3.38%;
    --card-foreground: 198 2.2% 96.3%;

    --border: 198 11% 7.800000000000001%;
    --input: 198 11% 7.800000000000001%;

    --primary: 198 22% 26%;
    --primary-foreground: 198 2.2% 96.3%;

    --secondary: 198 11% 7.800000000000001%;
    --secondary-foreground: 198 2.2% 96.3%;

    --accent: 198 11% 7.800000000000001%;
    --accent-foreground: 198 2.2% 96.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 198 2.2% 96.3%;

    --ring: 198 22% 26%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  th {
    @apply bg-background uppercase text-foreground;
  }
}

.quill {
  border-radius: 0.5rem;
  border: 1px solid #e2e8f0;
}

.quill > .ql-toolbar.ql-snow {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e2e8f0;
  border-top: none;
}

.quill > .ql-container.ql-snow {
  height: 18rem;
  border: none;
  font-size: 1.125rem;
}


.ql-container {
  min-height: 200px;
  border-radius: 0.375rem; /* Tailwind border-radius class */
}

.ql-editor {
  min-height: 150px;
  padding: 1rem; /* Tailwind padding class */
}
